<meta charset="UTF-8">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/shared/reset.css">
<link rel="stylesheet" href="/shared/global.scss">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap" rel="stylesheet">

<script>
  if (window.location.hostname === 'localhost') {
    const script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://localhost:35729/livereload.js?snipver=1';
    document.head.insertAdjacentElement('beforeend', script);
  }
</script>