// Variables
$white: #fff;
$black: #000;
$green: #00b585;
$orange: #ea9a3c;
$pink: #f56dfe;
$blue: #7c94f9;
$greenAnswer: #7fcb28;
$redAnswer: #f34048;
$blueAnswer: #667fee;
$yellowAnswer: #eaa249;
$grayDisabled: #c0c0c0;
$greenCorrect: #00de25;
$redIncorrect: #f00;

@mixin dropShadow($color) {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  bottom: -.75rem;
  right: -.75rem;
  background-color: $color;
  position: absolute;
  z-index: -1;
}


main {
	margin: 1rem auto 3.5rem auto;
	max-width: 72.5rem;
	padding: 0 4.5rem;
}

section.game-header {
	outline: solid 3px $black;
	position: relative;
  z-index: 1;
  margin-bottom: 3rem;

  &::before {
    @include dropShadow($black);
  }

	.game-header-items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		background-color: $white;

		.game-header-item {
			padding: .8rem;
			text-align: center;
			font-weight: 700;

			.game-header-item-label {
				font-size: 1.125rem;
			}

			.game-header-item-value {
				font-size: 1.5rem;
			}	
		}
	}
}

section.contestants {
  margin-bottom: 3rem;

  .contestant-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.8rem;

    .contestant {
      outline: solid 3px $black;
      border-bottom: none;
      position: relative;
      background-color: $white;
      text-align: center;

      &::before {
        @include dropShadow($green);
      }

      &:nth-child(1) {
        .contestant-top-row,
        &::before {
          background-color: $green;
        }
      }

      &:nth-child(2) {
        .contestant-top-row,
        &::before {
          background-color: $orange;
        }
      }

      &:nth-child(3) {
        .contestant-top-row,
        &::before {
          background-color: $pink;
        }
      }

      &:nth-child(4) {
        .contestant-top-row,
        &::before {
          background-color: $blue;
        }
      }

      .contestant-top-row {
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;

        .lock {
          display: none;
          width: .8rem;
        }

        .contestant-rank {
          color: $black;
          font-weight: 700;
        }
      }

      .contestant-bottom-row {
        background-color: $black;
        color: $white;
        position: relative;

        .answered-container {

          .answered-btn {
            display: none;
            position: absolute;
            left: 0.4rem;
            top: 0.6rem;
            border-radius: 50%;
            height: 1.3rem;
            width: 1.3rem;
            line-height: 1.3rem;
            font-size: .9rem;

            &.a { background-color: $greenAnswer; }
            &.b { background-color: $redAnswer; }
            &.c { background-color: $blueAnswer; }
            &.d { background-color: $yellowAnswer;}
          }
        }

        .contestant-score,
        .contestant-score-plus {
          font-family: 'Digital-7 Mono', sans-serif;
        }

        .contestant-score {
          font-size: 1.5rem;
          letter-spacing: .05rem;
        }

        .contestant-score-plus {
          color: $greenCorrect;
          font-size: 1.4rem;
          letter-spacing: .03rem;
          position: absolute;
          right: .4rem;
          top: .3rem;
        }
      }
    }
  }
}

section.question-container {
  border: solid 3px $black;
  padding: 3rem;
  height: 28.125rem;
  background-color: $white;
  position: relative;
  display: grid;
  align-items: center;
  margin-bottom: 3rem;

  &::before {
    @include dropShadow($black);
  }

  &:after {
    content: "";
    position: absolute;
    height: 400px;
    display: block;
    background-image: url(../images/dot-bg.jpg);
    right: -4.7rem;
    width: 25%;
    top: -5%;
    height: 113%;
    overflow: hidden;
    z-index: -2;
  }

  .question-text {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    user-select: none;
  }
}

section.answer-container {
  .answer-btn-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.8rem;
    grid-column-gap: 1rem;
    width: 80%;
    margin: 0 auto;
    grid-auto-rows: 1fr;

    .answer-btn-item {
      width: 90%;
      margin: 0 auto;

      button {
        width: 100%;
        height: 100%;
        background-color: $white;
        outline: none;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        padding: .45rem 2rem;
        border: solid 3px $black;
        position: relative;

        &::before {
          content: attr(data-letter);
          text-transform: uppercase;
          background-color: $greenAnswer;
          position: absolute;
          left: 0;
          top: .6rem;
          margin-left: 1rem;
          border-radius: 50%;
          height: 2rem;
          width: 2rem;
          line-height: 2rem;
        }

        &#answer-btn-b::before {
          background-color: $redAnswer;
          padding-left: 1px;
        }

        &#answer-btn-c::before {
          background-color: $blueAnswer;
        }

        &#answer-btn-d::before {
          background-color: $yellowAnswer;
          padding-left: 3px;
        }


        &[disabled]:not(.selected) {
          color: $grayDisabled;
          border-color: $grayDisabled;
        }

        &:hover:not([disabled]),
        &.selected {
          background-color: $black;
          color: $white;
        }

        &.correct,
        &.incorrect {
          color: $black;
        }

        &.correct {
          background-color: $greenCorrect;
        }

        &.incorrect {
          background-color: $redIncorrect;
        }
      }
    }
  }
}


@media (max-width: 48rem) {
  main {
    padding: 0 1.5rem;
  }

  section.game-header {
    margin-bottom: 1.1rem;

    &::before {
      bottom: -.5rem;
      right: -.5rem;
    }

    .game-header-items {
      .game-header-item {
        padding: .2rem;

        .game-header-item-label,
        .game-header-item-value {
          font-size: .7rem;
          line-height: .9rem;
        }

        span {
          display: block;
        }
      }
    }
  }

  section.contestants {
    margin-bottom: .8rem;

    .contestant-list {
      grid-column-gap: .4rem;
      grid-template-columns: 1fr 1fr;

      .contestant {
        &::before {
          content: none;
        }

        .contestant-top-row {
          .contestant-name {
            font-size: .7rem;
          }
        }

        .contestant-avatar-container {
          .contestant-avatar {
            max-width: 60%;
          }
        }

        .contestant-bottom-row {
          .contestant-score,
          .contestant-score-plus {
            font-size: .8rem;
          }
        }
      }
    }
  }

  section.question-container {
    height: 12rem;
    padding: 1rem;
    margin-bottom: 1.5rem;

    &::after {
      content: none;
    }

    .question-text {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  section.answer-container {
    .answer-btn-list {
      width: 100%;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      .answer-btn-item {
        width: 100%;

        button {
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}