@import '@/shared/variables';


section.board {
  .contestant-list {
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .contestant {
      .contestant-top-row {
        background-color: $white;
        padding: 0;
        display: block;

        .contestant-name {
          display: none;
        }

        .contestant-rank {
          position: absolute;
          top: .12rem;
          right: .15rem;
          line-height: .8rem;
          font-size: .75rem;
        }
      }

      .contestant-bottom-row {
        .contestant-score {
          font-size: .9rem;
        }
      }
    }
  }
}

